# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
local.properties
.idea
.vscode
bin

Thumbs.db
.DS_Store
build/
target/
out/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
*.tar
*.log
*.db
*.env
